<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">
</head>
<body>
	<div class="container text-center" th:replace="fragments :: header">
		
	</div>
	
	<div class="container">
		<div class="row">
			
			<div class="col-2" th:replace="fragments :: left_menu">
			</div>
			
			<div class="col-10">
			
				<h3>Role Add Form</h3>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form th:action="@{/manager/role/addNew}" th:object="${role}" method="POST">
				
				  	<div class="form-group row">
				    	<label class="col-3 col-form-label" th:text="#{role.code}" />
				    	<div class="col-6">
				      		<input type="text" class="form-control" th:field="*{code}" th:placeholder="#{role.code}">
				      		<ul><li th:errors="*{code}" /></ul>
				    	</div>
					</div>
				  	
				  	<div class="form-group row">
				    	<label class="col-3 col-form-label" th:text="#{role.description}" />
				    	<div class="col-6">
				      		<input type="text" class="form-control" th:field="*{description}" th:placeholder="#{role.description}">
				      		<ul><li th:errors="*{description}" /></ul>
				    	</div>
					</div>
				  	
				  	<div class="form-group row">
				    	<div class="col-9">
				      		<button type="submit" class="btn btn-primary">Submit</button>
				    	</div>
				  	</div>
				  	
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="fragments :: footer">
	</div>
</body>
</html>