<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">
</head>
<body>
	<div class="container text-center" th:replace="fragments :: header">
		
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-2" th:replace="fragments :: left_menu">
			</div>
			<div class="col-10">
				Welcome to Home!
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="fragments :: footer">
	</div>
</body>
</html>