<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">
</head>
<body>
	<div class="container text-center" th:replace="fragments :: header">
		
	</div>
	
	<div class="container">
		<div class="row">
			
			<div class="col-2" th:replace="fragments :: left_menu">
			</div>
			
			<div class="col-10">
			
				<h3>State Update Form</h3>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form th:action="@{/setup/state/addNew}" th:object="${state}" method="POST">
					
					<input type="hidden" th:field="*{id}"/>
					
					<div class="form-group row">
				    	<label class="col-3 col-form-label" th:text="#{state.code}" />
				    	<div class="col-6">
				    		<p th:text="${state.code}"/>
				      		<input type="hidden" th:field="*{code}">
				    	</div>
					</div>
				  	
				  	<div class="form-group row">
				    	<label class="col-3 col-form-label" th:text="#{state.name}" />
				    	<div class="col-6">
				      		<input type="text" class="form-control" th:field="*{name}" th:placeholder="#{state.name}">
				      		<ul><li th:errors="*{name}" /></ul>
				    	</div>
					</div>
				  	
				  	<div class="form-group row">
				    	<label class="col-3 col-form-label" th:text="#{state.country}" />
				    	<div class="col-6">
				      		<select class="form-select" th:field="*{country}">
					            <option th:each="p : ${listCountry}" th:value="${p.id}" th:text="${p.label}" />
					        </select>
					        <ul><li th:errors="*{country}" /></ul>
				    	</div>
					</div>
				  	
				  	<div class="form-group row">
				    	<div class="col-9">
				      		<button type="submit" class="btn btn-primary">Submit</button>
				    	</div>
				  	</div>
				  	
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="fragments :: footer">
	</div>
</body>
</html>